<%- include('partials/header') %>

<div class="main-bellsehr">
<a href="/home">HOME</a>
<a href="/patient">Patient</a>
<a href="/doctor">Doctor</a>
    <div class="side-nav">
        <ul style="color: brown;">
            <li><a href="">Register New Patient</a></li>
            <li><a>Reception</a></li>
            <li><a>Doctor</a></li>
            <li><a>Laboratory</a></li>
            <li><a>Nurse</a></li>
        </ul>

    </div>

    <div class="jumbotron">
        <h1>Cheris Good Health</h1>

    </div>

    <div class="img-block">
        <img class="grid" src="pharmacy.png" alt="pharmacy">
        <img class="grid" src="schedule.png" alt="schedule">
        <img class="grid" src="Nurse.png" alt="nurse">
        <img class="grid" src="Laboratory.png" alt="lab">
    </div>
   
    

</div>

<%- include('partials/footer') %>