<%- include('partials/header') %>

<div class="main">
    <div class="main-navbar">
        <div class="icon">
            <img class="logo" src="https://4.bp.blogspot.com/-I1hdD3hfVjM/XOPPoVHXzgI/AAAAAAAAD90/0axHfwTeGjQ0bRHsxoMb3O2pHugFcnaaACLcBGAs/s1600/Bell%2BUniversity%2B%2528BELLSTECH%2529%2BPost%2BUTMEDE%2BForm%2Bis%2BOut%2BProcedures%252C%2BPrice%252C%2BCut%2BOff%2BMarks%2Band%2BClosing%2BDate.png">
        </div>

        <div class="menu">
            <ul class="menu-nav">
                <li><a href="#">Home</a></li>
                <li><a href="/">Bells EHR</a></li>
                <li><a href="#">How To Use An EHR</a></li>
                <li><a href="/patient">DashBoard</a></li>
                <li><a href="#">Sign Up</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        
        <div class="search">
            <input class="srch" type="search" name="" placeholder="Type To Text">
            <a href="#"><button class="btn-main">Search</button></a>
        </div>
    </div>

    <div class="content">
        <h1>WELCOME<br> 
         <span> To Bells Clinic </span></h1>
        <p class="par"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, deserunt.<br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. In, non!<br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit.<br>
        Lorem ipsum dolor sit amet.<br>
        Lorem, ipsum.</p>
        <button class="learnmore" > <a href="#">Learn More</a> </button>
    </div>
</div>

<%- include('partials/footer') %>