<!-- offcanvas -->
  
<div 
class="offcanvas offcanvas-start bg-dark text-white sidebar-nav" 
tabindex="-1" 
id="offcanvasExample" 
aria-labelledby="offcanvasExampleLabel">

<div class="offcanvas-body p-G">
    <nav class="navbar-dark">
        <ul class="navbar-nav">
            <li>
                <div class="text-muted small fw-bold text-uppercase px-3">
                    PRIMARY
                </div>
            </li>
            <li>
                <a href="#" class="nav-link px-3 active">
                    <span class="me-2"> 
                        <i class="bi bi-speedometer2"></i>
                    </span>
                    <span>Dashboard</span>
                </a>
                <li class="ny-4">
                    <hr class="dropdown divider">
                </li>
            </li>
            <li>
                <div class="text-muted small fw-bold text-uppercase px-3">
                    interface
                </div>
            </li>
            <li>
                 <a class="nav-link px-3 sidebar-link"
                 data-bs-toggle="collapse"
                 href="#collapseExample"
                 role="button"
                 aria-expanded="false"
                 aria-controls="collapseExaple">
                 <span class="me-2">
                    <i class="bi bi-layout-text-window-reverse"></i>
                 </span>
                 <span>Overview</span>
                 <span class="right-icon ms-auto">
                     <i class="bi bi-chevron-down"></i>
                 </span>
                </a>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body bg-dark ">
                        <ul class="navbar-nav ps-3">
                            <a href="#" class="nav-link ">
                                <li>Your Next visit</li>
                            </a>
                            
                            <a href="#" class="nav-link">
                                <li>Demographics</li>
                            </a>
                            <a href="#" class="nav-link">
                                <li>Analytics</li>
                                
                            </a>
                            
                        </ul>
                    </div>
                </div>
            </li>
            <li>
                <li class="nav-link px-3 sidebar-link"
                role="button"
                aria-expanded="false"
                href="#">
                <span class="me-2">
                   <i class="bi bi-person-plus"></i>
                </span>
                <span>Patients</span>
            </li>
            </li>
            <li>
                <li class="nav-link px-3 sidebar-link"
                role="button"
                aria-expanded="false"
                href="#">
                <span class="me-2">
                   <i class="bi bi-box2-heart"></i>
                </span>
                <span>Prescription History</span>
            </li>
            </li>
            <li>
                <li class="nav-link px-3 sidebar-link"
                role="button"
                aria-expanded="false"
                href="#">
                <span class="me-2">
                   <i class="bi bi-kanban"></i>
                </span>
                <span>Lab</span>
            </li>
            </li>
            <li>
                <li class="nav-link px-3 sidebar-link"
                role="button"
                aria-expanded="false"
                href="#">
                <span class="me-2">
                   <i class="bi bi-heart-pulse"></i>
                </span>
                <span>Chart</span>
            </li>
            </li>
            <li>
                <li class="nav-link px-3 sidebar-link"
                role="button"
                aria-expanded="false"
                href="#">
                <span class="me-2">
                   <i class="bi bi-lightning"></i>
                </span>
                <a href=""><span>Log Report</span></a>
            </li>
            </li>
            <li>
                <li class="nav-link px-3 sidebar-link"
                role="button"
                aria-expanded="false"
                href="#">
                <span class="me-2">
                   <i class="bi bi-gear"></i>
                </span>
                <span>Settings</span>
            </li>
            </li>
        </ul>
     </nav>
   </div>
</div>
</div>

<!-- offcanvas -->